anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
click
colorama
comm
debugpy
decorator
defusedxml
distlib
executing
fastjsonschema
filelock
Flask
fqdn
ipykernel
ipython
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
overrides
pandocfilters
parso
pickleshare
pip
pipenv
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
Pygments
python-dateutil
python-json-logger
pywinpty
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn
scipy
Send2Trash
setuptools
sniffio
soupsieve
stack-data
terminado
threadpoolctl
tinycss2
tornado
traitlets
uri-template
virtualenv
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
gunicorn
pywin32