.background{
    width: 100%;
    height: 150vh;
    background: url(../img/finance.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

h1 {
    color: #4CAF50;
    text-align: center;
    animation: fadeIn 1s 0.5s ease;
}

form {
    animation: fadeIn 1s 1s ease;
}

label, select {
    display: block;
}

label {
    transform: translateX(-20px);
    opacity: 0;
    animation: slideIn 1s forwards;
}

input, select {
    transform: translateX(20px);
    opacity: 0;
    animation: slideIn 3s forwards;
}

@keyframes slideIn {
    from { transform: translateX(-20px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

select {
    appearance: none;
}

select::-ms-expand {
    display: none;
}